<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="de.hasait.eclipse.ccg"
   name="CommentCodeGen Plug-in"
   version="1.0.3"
   provider-name="Sebastian Hasait"
   class="de.hasait.eclipse.ccg.CcgPlugin">

   <runtime>
      <library name="ccg.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>
   <extension-point id="ccgGenerators" name="CommentCodeGen Generators" schema="schema/ccgGenerators.exsd"/>
   <extension-point id="ccgParsers" name="CommentCodeGen Parsers" schema="schema/ccgParsers.exsd"/>

   <extension
         id="ccgBuilder"
         name="CommentCodeGen Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="de.hasait.eclipse.ccg.builder.CcgBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="ccgNature"
         name="CommentCodeGen Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.hasait.eclipse.ccg.nature.CcgNature">
         </run>
      </runtime>
      <builder
            id="de.hasait.eclipse.ccg.ccgBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="de.hasait.eclipse.ccg.objectContribution1">
            <menu
            	id="de.hasait.eclipse.ccg.subMenu1"
            	label="CommentCodeGen"
            	path="additions">
            	<separator name="group1"/>
            </menu>
  			<action
  				label="Add Nature"
  				class="de.hasait.eclipse.ccg.action.AddCcgNatureAction"
  				menubarPath="de.hasait.eclipse.ccg.subMenu1/group1"
  				enablesFor="1"
  				id="de.hasait.eclipse.ccg.addCcgNatureAction">
  				<enablement>
  					<not>
  						<objectState name="projectNature" value="de.hasait.eclipse.ccg.ccgNature"/>
  					</not>
  				</enablement>
  			</action>
  			<action
  				label="Remove Nature"
  				class="de.hasait.eclipse.ccg.action.RemoveCcgNatureAction"
  				menubarPath="de.hasait.eclipse.ccg.subMenu1/group1"
  				enablesFor="1"
  				id="de.hasait.eclipse.ccg.removeCcgNatureAction">
  				<enablement>
  						<objectState name="projectNature" value="de.hasait.eclipse.ccg.ccgNature"/>
  				</enablement>
  			</action>
      </objectContribution>
   </extension>
   <extension
         id="ccgProblem"
         name="CommentCodeGen Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="de.hasait.eclipse.ccg.ccgGenerators">
      <ccgGenerator class="de.hasait.eclipse.ccg.generator.generic.NopGenerator"/>
      <ccgGenerator class="de.hasait.eclipse.ccg.generator.generic.IncludeFileGenerator"/>
   </extension>

</plugin>
