<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="de.hasait.eclipse.common"
   name="Common Plug-in"
   version="2.4.2"
   provider-name="Sebastian Hasait"
   class="de.hasait.eclipse.common.CommonPlugin">

   <runtime>
      <library name="common.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime" export="true"/>
      <import plugin="org.eclipse.core.resources" export="true"/>
      <import plugin="org.eclipse.ui" export="true"/>
      <import plugin="org.dom4j" export="true"/>
      <import plugin="org.apache.bsf" export="true"/>
      <import plugin="bsh" export="true"/>
   </requires>

</plugin>
