BODY.page {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	background-color: #FFFFF0;
}

DIV.header {
	position: fixed;
	top: 0px;
	width: 600pt;
	background-color: #F0F0C0;
	border-bottom: 2pt solid #D0D0B0;
	padding-top: 8pt;
	padding-left: 8pt;
	padding-right: 8pt;
}

DIV.title {
	font-size: 18pt;
	font-weight: normal;
	font-family: sans-serif;
	padding-bottom: 4pt;
}

DIV.navarea {
}

A.navlinkint {
	border: 1px solid #D0D0B0;
}

A.navlinkint:HOVER {
	background-color: #FFFFD0;
}

A.navlinkext {
	border: 1px solid #D0B0B0;
}

A.navlinkext:HOVER {
	background-color: #FFFFD0;
}

A.navlinkcur {
	background-color: #D0D0B0;
	border: 1px solid #D0D0B0;
}

A.navlinkcur:HOVER {
	color: #000080;
}

A {
	color: #000080;
	text-decoration: none;
}

A:HOVER {
	color: #800000;
}

DIV.content {
	width: 600pt;
	padding-top: 60pt;
	padding-left: 8pt;
	padding-right: 8pt;
	padding-bottom: 40pt;
}

DIV.footer {
	position: fixed;
	bottom: 0px;
	width: 600pt;
	background-color: #C0C0F0;
	border-top: 2pt solid #D0D0F0;
	padding-top: 4pt;
	padding-bottom: 4pt;
	padding-left: 8pt;
	padding-right: 8pt;
}

DIV.version {
	font-size: 10pt;
	font-family: monospace;
}

DIV.h1 {
	display: block;
	font-size: 18pt;
	font-weight: normal;
	font-family: serif;
	margin-top: 12pt;
}

DIV.h2 {
	display: block;
	font-size: 16pt;
	font-weight: normal;
	font-family: serif;
	margin-top: 10pt;
}

DIV.h3 {
	display: block;
	font-size: 14pt;
	font-weight: bold;
	font-family: serif;
	margin-top: 8pt;
}

DIV.p {
	display: block;
	font-size: 12pt;
	font-weight: normal;
	font-family: serif;
	margin-top: 4pt;
}

DIV.name {
	display: inline;
	background-color: #F0F0FF;
	border: 1px solid #808080;
}

PRE.code {
	display: block;
	font-size: 12pt;
	font-weight: normal;
	color: #808080;
	background-color: #FFFFFF;
	border: 1px solid #808080;
	padding: 5px;;
}

DIV.code {
	display: inline;
	font-weight: normal;
	font-family: monospace;
	color: #0000A0;
	background-color: #FFFFFF;
	border: 1px solid #808080;
}

SPAN.codehl {
	color: #F00000;
}

SPAN.codenew {
	color: #0000F0;
}
