<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="de.hasait.eclipse.ccg.javag"
   name="JavaGenerator Plug-in"
   version="2.0.0"
   provider-name="Sebastian Hasait"
   class="de.hasait.eclipse.ccg.javag.JavagPlugin">

   <runtime>
      <library name="javag.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="de.hasait.eclipse.ccg"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.apache.bsf"/>
      <import plugin="de.hasait.eclipse.common"/>
   </requires>
   
   <extension point="de.hasait.eclipse.ccg.generators">
      <blockGenerator class="de.hasait.eclipse.ccg.javag.JavaAstBsfBlockGenerator"/>
      <blockGenerator class="de.hasait.eclipse.ccg.javag.pattern.EventSupportBlockGenerator"/>
      <blockGenerator class="de.hasait.eclipse.ccg.javag.pattern.MemberDelegateBlockGenerator"/>
      <blockGenerator class="de.hasait.eclipse.ccg.javag.pattern.PropertyBlockGenerator"/>
      <resourceGenerator class="de.hasait.eclipse.ccg.javag.application.ApplicationResourceGenerator"/>
   </extension>

</plugin>
