<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="de.hasait.ccg.javap"
   name="JavaParser Plug-in"
   version="1.0.1"
   provider-name="Sebastian Hasait"
   class="de.hasait.ccg.javap.JavapPlugin">

   <runtime>
      <library name="javap.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="de.hasait.ccg"/>
   </requires>
   <extension
         point="de.hasait.ccg.ccgParsers">
      <ccgParser class="de.hasait.ccg.javap.javacommentast.JavaCommentAstParser"/>
   </extension>

</plugin>
