<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="de.hasait.eclipse.charreplacer"
   name="Charreplacer Plug-in"
   version="1.0.3"
   provider-name="Sebastian Hasait"
   >

   <runtime>
      <library name="charreplacer.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="de.hasait.eclipse.common"/>
   </requires>

   <extension
         id="crBuilder"
         name="CharacterReplacer Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="de.hasait.eclipse.charreplacer.builder.CrBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="crNature"
         name="CharacterReplacer Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.hasait.eclipse.charreplacer.nature.CrNature">
         </run>
      </runtime>
      <builder
            id="de.hasait.eclipse.charreplacer.crBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="de.hasait.eclipse.charreplacer.objectContribution1">
            <menu
            	id="de.hasait.eclipse.charreplacer.subMenu1"
            	label="CharacterReplacer"
            	path="additions">
            	<separator name="group1"/>
            </menu>
  			<action
  				label="Add Nature"
  				class="de.hasait.eclipse.charreplacer.action.AddCrNatureAction"
  				menubarPath="de.hasait.eclipse.charreplacer.subMenu1/group1"
  				enablesFor="1"
  				id="de.hasait.eclipse.charreplacer.addCrNatureAction">
  				<enablement>
  					<not>
  						<objectState name="projectNature" value="de.hasait.eclipse.charreplacer.crNature"/>
  					</not>
  				</enablement>
  			</action>
  			<action
  				label="Remove Nature"
  				class="de.hasait.eclipse.charreplacer.action.RemoveCrNatureAction"
  				menubarPath="de.hasait.eclipse.charreplacer.subMenu1/group1"
  				enablesFor="1"
  				id="de.hasait.eclipse.charreplacer.removeCrNatureAction">
  				<enablement>
  						<objectState name="projectNature" value="de.hasait.eclipse.charreplacer.crNature"/>
  				</enablement>
  			</action>
      </objectContribution>
   </extension>
   <extension
         id="crProblem"
         name="CharacterReplacer Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
